:root {
  --theme-grey: #989898;
  --theme-dark: #5c5c5c;
  --theme-light: #d6d6d6;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

#success-page {
  background: var(--theme-dark);
}

p {
  margin: 0;
}

#book-section{
  padding-top:100px;
  padding-bottom:100px;
}

#faq-section{
  background: var(--theme-dark);
  padding-top:100px;
  color: #fff;
}

#faq-section a{
  text-decoration: underline;
  color: var(--theme-light);
  transition: 0.2s;
}

#faq-section a:hover{
  text-decoration: underline;
  color: #fff;
}

.book-wrapper{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cover-img-wrapper{
  display: inline-block;
  width: 40%;
  float: left;
}

.sale-text-wrapper{
  display: inline-block;
  width: 55%;
}

.cover-img{
  display: inline-block;
  width: 85%;
}

.cta-button{
  display: inline-block;
  border: 2px solid black;
  padding: 12px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 2em;
  transition: 0.2s;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: black;
  color: #fff;
}

.cta-replace{
  border: 2px solid transparent;
  padding: 12px;
  padding-left:20px;
  padding-right:20px;
  border-radius: 2em;
  transition: 0.2s;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 25px;
  display: none;
  color: var(--theme-grey);
}

#buy-teach-book::before{
  content:"Get The "
}

#buy-teach-book::after{
  content: " - $25"
}

#buy-teach-book:hover::before{
  content:"Order "
}

#buy-teach-book:hover::after{
  content: " Now!"
}

.cta-button:hover{
  cursor: pointer;
  border-radius:0.6em;
  padding-left:25px;
  padding-right:25px;
  color: black;
  background-color: white;
}

/*
.cta-button:hover::after{
  content:"!!!"
}
*/

.weak-button{
  display: inline-block;
  border: 1px solid var(--theme-grey);
  color: var(--theme-dark);
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:10px;
  border-radius: 2em;
  transition: 0.2s;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.weak-button:hover{
  cursor: pointer;
  border-radius: 0.6em;
  border: 1px solid black;
  color: black;
}

.preview::before {
  content: "Peek inside!";
}

.preview:hover::before {
  content: "Preview PDF";
}

.weak-button-wrapper{
  padding-top: 15px;
}

.sale-description{
  font-size: 1.4em;
  padding-bottom: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.sale-quote{
  /*font-family: 'Kalam', cursive;*/
  font-style: italic;
  font-size: 1.25em;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

.sale-quote-person{
  font-size: 1em;
  padding-bottom: 25px;
  text-align: right;
  padding-right: 10%;
}

.faq-wrapper{
  width: 60%;
  margin-left:20%;
  margin-right:20%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.faq-question{
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 10px;
}

.faq-answer{
  font-size: 1.2em;
  padding-bottom: 45px;
  padding-top: 10px;
  line-height: 1.4em;
}

.nav-logo{
  width: 100px;
  padding-top: 30.8px;
  padding-left: 30.8px;
}

#nav-links{
  position: fixed;
  right:36px;
  top: 36px;
}

.header-wrapper {
  width: 100%;
  height: 100px;
  background: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--theme-dark);
}

.sticky-header {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  position: static;
  /*top: -100px;*/
  height: 100px;
}

.sticky-header a{
  font-size: 28px;
  position: relative;
  bottom: 6px;
  margin-left:30px;
  margin-right:30px;
  text-decoration: none;
  color: var(--theme-dark);
  transition: 500ms;
  border-bottom: 1px solid transparent;
}

.sticky-header a:hover{
  border-color: var(--theme-dark);
}

.sticky-header.sticky a{
  color: #fff;
}
.sticky-header.sticky a:hover{
  border-color: #fff;
}

.sticky-header.sticky {
  background: var(--theme-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
}


#success-back{
  margin-bottom: 0;
}

#success-redirecting{
  margin-bottom: 0;
}

#success-logo {
  padding: 0;
  padding-top: 7px;
}

.success-logo-wrapper {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 5%;
  bottom: 25px;
}

.flip {
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
